body {
        font-family: 'Roboto', sans-serif;
      }
      .buttons-sokolin-google {
        cursor: pointer;
        float: right;
      }
      .button-sokolin-google-green {
        background-image: none;
        border: 1px solid transparent!important;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
        font-size: 14px;
        height: 36px;
        letter-spacing: 0.25px;
        line-height: 16px;
        padding: 9px 24px 11px 24px;
        background: #188038;
        color: #fff;
        margin: 0px 12px 0px 0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
      }
      .button-sokolin-google-green:hover {
        background: #2a8947;
        box-shadow: 0 1px 3px 1px rgb(52 168 83 / 15%);
      }
      .button-sokolin-google-green:active {
        background: #62a877;
        box-shadow: 0 2px 6px 2px rgb(52 168 83 / 15%);
      }
      .button-sokolin-google-white {
        background-image: none;
        border: 1px solid transparent!important;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
        font-size: 14px;
        height: 36px;
        letter-spacing: 0.25px;
        line-height: 16px;
        padding: 9px 24px 11px 24px;
        background: white;
        border: 1px solid #dadce0!important;
        color: #137333;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
      }
      .button-sokolin-google-white:hover {
        background: #f8fcf9;
        border: 1px solid #c8e7d1!important;
      }
      .button-sokolin-google-white:active {
        border: 1px solid transparent!important;
        background: #dff2e4;
        border: 1px solid transparent!important;
        box-shadow: 0 2px 6px 2pxrgba(60,64,67,.15);
      }
      label {
        color: #3c4043;
        font-size: 14px;
      }
