@font-face {
	font-family: "Uni Neue";
	src:url(https://log.province5s.ru/src/font/UniNeueRegular.eot?d0384);
	src:url(https://log.province5s.ru/src/font/UniNeueRegular.eot?d0384) format("eot"),url(https://log.province5s.ru/src/font/UniNeueRegular.woff?58888) format("woff"),url(https://log.province5s.ru/src/font/UniNeueRegular.ttf?896ba) format("truetype");
	font-weight: normal;
	font-style: normal;
}

.ipsPageHeader { display: none; }
#elComment_1 .ipsResponsive_hidePhone { display: none; }
#elComment_1 .ipsComment_author { display: none; }
#elComment_1 .ipsComment_meta { display: none; }
#elComment_1 .ipsType_reset  { display: none; }
#elComment_1 { border-radius: 8px 8px 8px 8px; margin-top: -15px; }
.md-toast-warning { font-size: 19px; line-height: 1.1;}
.ipsPager { display: none; }
#elComment_1 .ipsType_normal.ipsType_richText.ipsContained { background-color: #22242b; font-family: "Uni Neue"; font-size: 16px; }

.card-2-sokolin {
    height: 100%!important;
    color: #ececec;
    background-color: #262837;
	border-radius: 15px;
}

.card-3-sokolin {
padding: 15px!important;
position: relative!important;
}

html {
    scroll-behavior: smooth;
}

.wandererSpoilerHead {
	cursor: pointer;
	background: #17191f;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 14px;
    display: block;
	border-radius: 8px 8px 8px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.wandererSpoilerBody {
	display: none;
    padding: 0px 15px;
    background: #17191f;
    position: relative;
    clear: both;
	border-radius: 0px 0px 8px 8px;
	margin-bottom: 10px;
}
.active {
  display: block;
}
.wandererSpoilerHead a {
    text-decoration: none;
}
.wandererSpoilerHead a:before {
	vertical-align: middle;
    font-family: 'FontAwesome';
    font-size: 16px;
    margin-top: -4px;
    content: "\f138";
}
.wandererSpoiler a:before {
	vertical-align: middle;
    font-family: 'FontAwesome';
    font-size: 16px;
    margin-top: -4px;
    content: "\f13a";
}
.wandererSpoiler {
	border-radius: 8px 8px 0px 0px;
	margin-bottom: 0px;
}
.wandererSpoilerBody ul {
	margin: 0px;
}
.wandererSpoilerBody ol {
	margin: 0px;
}

.header-vps-sokolin-1 {
	color: #2980b9; 
	font-family: Georgia, serif; 
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}

.ban-vps {
	color: #2ecc71;
}

.demoorgan-vps {
	color: #ff0066
}
